@model Ticket_Booking.Models.RegisterModel

@{
    ViewBag.Title = "LOGIN";
    Layout = null;
}

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html lang="en">
<head>
    <title>LOGIN</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Ideal Sign in Form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <!--//Meta tag Keywords -->
    <link href="/Content/LoginCSS/style.css" rel="stylesheet"><!--style-css-->
    <link rel="stylesheet" href="/Content/LoginCSS/font-awesome.min.css"><!--fontawesome-css-->
    <link href="//fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet"><!--online-fonts-->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"><!--online-fonts-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"><!--online-fonts-->

</head>
<body>

    <section class="agile-w3ls">
        <br />
        <br />
        <div class="header-w3ls">
            <h1 style="text-align:center;">LOGIN Form</h1>
        </div>
        
      
        <div class="headermain-w3ls">
            <div class="header-form">

            @using (Html.BeginForm("Login", "Register", FormMethod.Post, new { @class = "agile_form" }))
            {
                <h2>sign in</h2>

                     <div class="username">

                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "username", @type = "text" })

                    </div>
                    <div class="password">

                        <span><i class="fa fa-key" aria-hidden="true"></i></span>
                        @Html.TextBoxFor(m => m.Password, new { @placeholder = "password", @type = "password" })
                        <!--    <input type="password" name="pword" placeholder="password" required=""> -->
                        <div class="clear"></div>
                    </div>

                    <div class="forgot-password">
                        <ul class="password-w3ls">
                            <li>
                                <input type="checkbox" class="checkbox">
                                <span>remember me</span>
                            </li>

                            <li class="forgot">
                                <a href="@Url.Action("Index","Register")">Register Now</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="signin-w3ls">
                        <input type="submit" value="sign in">

                    </div>
              
            }

            </div>
           
            <!--copyright-->
            <div class="agile-copyright">
                <footer><a>All Rights Reserved & Designed by Datagrid Limited</a></footer>
            </div>
            <!--/section-->
        </div> 
    </section>
</body>
</html>
