@model Ticket_Booking.Models.CoachModel
@{
    ViewBag.Title = "Coach Edit";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<html>

<body class="bg agileinfo">
    <h1 class="agile-head text-center">Edit Coach Type</h1>

    <div class="container-w3">
        <div class="content-1-w3layouts">
            <img src="/Content/Images/trip.png" alt="room" />
        </div>
        <div class="form_w3layouts">

            @using (Html.BeginForm("Edit", "Coach", new { @class = "agile_form" }))
             {
                @Html.HiddenFor(m => m.Id)
                <table style="margin:15px;margin-left:55px;">
                    <tr>
                        <td style="text-align:left"> @Html.LabelFor(m => m.CoachType)</td>
                        <td style="text-align: left">@Html.TextBoxFor(m => m.CoachType)</td>
                    </tr>
                </table>
               <div class="submit">
                    <input type="submit" value="Edit" />
                </div>
            }
            </div>
        </div>
    </body>
</html>

    <div>
        @Html.ActionLink("Back", "Index")
    </div>
